p{
    color: red;
    letter-spacing: 2px;

}
.mobilenet{
    letter-spacing: 2px;

}
.google_lens{
    letter-spacing: 2px;
}

img{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 290px;
     border-radius: 10px;
}

span{
    letter-spacing: 2px;
}
b{
    color: purple;
}

.first,.second{
    background-color: white;
    border-radius: 10px;
    line-height: 2px;
}

.test_image_and_result{
    margin-top: 15px;
    background-color: grey;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 35px grey;
    width: 99%;
    margin-bottom: 15px;
}

h1{
    color: white;
    font-weight: bold;
}